---
import { type CollectionEntry, getCollection } from "astro:content";
import type { ButtonProps } from "@/components/primitives/Button.astro";
import WorkPreview from "@/components/sections/WorkPreview.astro";

const currentLocale = Astro.currentLocale;

const works = await getCollection("works");

const recentWorks = works
	.map((work) => {
		const [lang, ...slug] = work.slug.split("/");
		return {
			...work,
			lang: lang,
			slug: work.slug.startsWith("/") ? work.slug : `/${work.slug}`,
		};
	})
	.filter((page) => page.lang === currentLocale)
	.sort(
		(a, b) =>
			a.data.lastUpdateDate.getTime() - b.data.lastUpdateDate.getTime(),
	)
	.slice(0, 4) as CollectionEntry<"works">[];

interface Props {
  sectionTitle:string;
	introSection: string;
	buttons: ButtonProps[];
}

const { sectionTitle,introSection } = Astro.props as Props;
---
<div class="items-center text-sm font-medium justify-center flex pt-20 pb-8">
  <div class="bg-gray-100 rounded-2xl px-4 py-2">
    <h2 class="text-lg leading-none font-semibold my-1">{sectionTitle}</h2>
  </div>
</div>

<div class="flex justify-center items-center">
	<p
		class="text-2xl leading-9 font-semibold mb-3"
		set:html={introSection}
	/>
</div>

<div
  class="text-sm font-medium auto-cols-fr grid-cols-1 md:grid-cols-2 grid-rows-[auto_auto] grid gap-[3.13rem]"
>
  {recentWorks.map((work) => <WorkPreview {work} />)}
</div>

